extends layout

block content
	h1= title
	p Istanza: #{instance}
	if !user
		a(href="/login" class="btn btn-spotify")
			i.bi.bi-spotify
			|  Login con Spotify
	else
		h2 Ciao, #{user.username}
		p La tua email è #{user.emails[0].value}
		a(href="/account" class="btn btn-spotify") Info account
	h2 ciao